@model CinemaObject.Account

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Register CSS-->
<link rel="stylesheet" href="~/assets/css/register.css" />
<link rel="stylesheet" href="~/assets/css/responsiveRegister.css">

<style>
    .error {
        color: rgba(182,101,105,255);
        background-color: rgba(242,222,222,255);
        margin-top: 4px;
        height: 44px;
    }

    .errorText {
        text-align: center;
        line-height: 42px;
        padding-left: 8px;
    }
</style>


<div class="container-fluid customContainer">
    <div class="row">
        <div class="col-md-7 col-lg-6 formContainer">

            <form asp-action="Register" asp-controller="Home" method="post" id="registerForm">
                <div class="headerContainer">
                    <h1 class="formHeader">Register</h1>
                </div>

                <div class="form-group">
                    <input asp-for="UserName" placeholder="Username" class="form-control" required />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Password" type="password" placeholder="Password" class="form-control" required/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="password"
                           class="form-control"
                           name="confirmPassword"
                           id="confirmPassword"
                           placeholder="Confirm password" size="50" required/>
                </div>

                <div class="confirmPasswordError">
                </div>

                <div class="form-group" style="display: none;">
                    <input asp-for="Role" class="form-control" value="0" hidden/>
                    <span asp-validation-for="Role" class="text-danger"></span>
                </div>

                <div class="form-group" style="display: none;">
                    <input asp-for="Idpeople" class="form-control" value="0" hidden/>
                    <span asp-validation-for="Idpeople" class="text-danger"></span>
                </div>

                <!--Submit-->
                <button type="submit" class="btn btn-primary registerBtn" id="submitForm">
                    Register
                </button>

                <!--Have already Account-->
                <p class="haveAccount">
                    <i>I am already a member</i>
                    /
                    <a href="Login">Login now</a>
                </p>
                
                <p>@ViewBag.Message</p>

            </form>

        </div>

        <div class="col-md-5 col-lg-6 imgContainer">
            <img src="~/assets/img/klipartz.com (1).png"
                 class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
                 alt="Valentine form picture" />
        </div>
    </div>



</div>

<!--Validation Script-->
<script src="~/assets/js/registerValidation.js"></script>